@import "tailwindcss";

:root {
  --background-light: #ffffff;
  --foreground-light: #171717;

  --background-dark: #0f172a;
  --foreground-dark: #e5e7eb;
}

body {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

html {
  transition: background-color 0.3s, color 0.3s;
}
